<div id="deleteCategoryAlert-{{id}}" class="modal">
  <div class="modal-content">
    <form
      action="/categories/{{id}}/delete"
      class="col s21"
      method="post"
    >
      <h4>
        Are you sure you want to delete the category named {{name}}?
      </h4>
      <div class="modal-footer">
        <a class="modal-close btn waves-effect waves-light pink">
          Cancel
        </a>
        <button
          class="modal-close btn waves-effect waves-light"
          id="submitDeleteCategory-{{id}}"
          type="submit"
        >
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
