<h1 id="adminGreeting">Welcome, {{currentUser.firstName}} {{currentUser.lastName}}!</h1>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a id="checkoutTabLink" href="#checkoutTab">Checkouts</a></li>
      <li class="tab col s3"><a id="toolTabLink" href="#toolTab">Tools</a></li>
      <li class="tab col s3"><a id="categoryTabLink" href="#categoryTab">Categories</a></li>
    </ul>
  </div>
  <div id="checkoutTab" class="col s12">{{> checkouts/index }}</div>
  <div id="toolTab" class="col s12">{{> tools/index }}</div>
  <div id="categoryTab" class="col s12">{{> categories/index }}</div>
</div>

<script src="/javascripts/materializeScriptInitializations.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
  if ('{{errors}}') {
    const errors = JSON.parse('{{jsonStringify errors}}'.replace(/&quot;/g,'"'));
    const errorType = Object.keys(errors)[0];
    const objectId = errors[errorType].properties.id;
    const newOrUpdate = objectId ? 'edit' : 'new';
    const updateOnlyAppend = objectId ? `-${objectId}` : '';

    const tabs = M.Tabs.getInstance(
      document.querySelector(`.tabs`)
    )
    const modalWithErrors = M.Modal.getInstance(
      document.querySelector(`#${newOrUpdate}${capitalize(errorType)}Form${updateOnlyAppend}`)
    )
    tabs.select(`${errorType}Tab`);
    modalWithErrors.open();

    const errorDiv = document.querySelector(`#${errorType}Error${updateOnlyAppend}`)
    const errorsHTML = errors[errorType].errors.map( errorText => {
      return `${errorText}<br>`
    })
    errorDiv.innerHTML = errorsHTML
  }

});

function capitalize(string) {
  return string[0].toUpperCase() + string.slice(1)
}

</script>
