$default-padding: 16px
$header-height: 80px

[id^="add"].btn-floating.btn-large i
  line-height: 56px

#drop_zone
  border: 5px dotted #a7ffeb

.font-size1pt5em
  font-size: 1.5em

.calendarText
  font-size: 1.5em
  @media (min-width: 600px)
    font-size: 2em

.sticky
  position: -webkit-sticky
  position: sticky
  top: 60px
  height: $header-height
  padding: $default-padding

.sticky_sentinel
  position: absolute
  left: 0
  right: 0
  visibility: hidden

.sticky_sentinel--top
  height: 40px
  top: -24px

.sticky_sentinel--bottom
  height: $header-height + $default-padding
  bottom: 0
